
<script type="text/javascript">
  // $(document).ready(function() {
  //   $("#lightSlider").lightSlider(); 
  // });
  //   $(document).ready(function() {
  //   $('#lightSlider').lightSlider({
  //       item:4,
  //       loop:false,
  //       slideMove:2,
  //       easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
  //       speed:600,
  //       responsive : [
  //           {
  //               breakpoint:800,
  //               settings: {
  //                   item:3,
  //                   slideMove:1,
  //                   slideMargin:6,
  //                 }
  //           },
  //           {
  //               breakpoint:480,
  //               settings: {
  //                   item:2,
  //                   slideMove:1
  //                 }
  //           }
  //       ]
  //   });  
  // });
      $(document).ready(function() {
    $('#lightSlider').lightSlider({
        gallery:true,
        item:1,
        loop:true,
        thumbItem:9,
        slideMargin:0,
        enableDrag: false,
        currentPagerPosition:'left',
        // onSliderLoad: function(el) {
        //     el.lightGallery({
        //         selector: '#lightSlider .lslide'
        //     });
        // }   
    });  
  });
</script>