---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* roboto-condensed-700 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
       url('{{site.baseurl}}/fonts/roboto-condensed/roboto-condensed-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{site.baseurl}}/fonts/roboto-condensed/roboto-condensed-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('{{site.baseurl}}/fonts/roboto/roboto-v15-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{site.baseurl}}/fonts/roboto/roboto-v15-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('{{site.baseurl}}/fonts/roboto/roboto-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{site.baseurl}}/fonts/roboto/roboto-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('{{site.baseurl}}/fonts/roboto/roboto-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{site.baseurl}}/fonts/roboto/roboto-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* Define variable here
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$enable-flex:               true;
$enable-shadows:            false;
$enable-transitions:        true;



$spacer:                     1rem;
$spacer-x:                   $spacer;
$spacer-y:                   $spacer;
$spacers: (
  0: (x: 0, y: 0 ),
  1: (x: $spacer-x, y: $spacer-y ),
  2: (x: ($spacer-x * 2), y: ($spacer-y * 2) ),
  3: (x: ($spacer-x * 3), y: ($spacer-y * 3) ),
  4: (x: ($spacer-x * 4), y: ($spacer-y * 4) ),
  5: (x: ($spacer-x * 5), y: ($spacer-y * 5) ),
  6: (x: ($spacer-x * 6), y: ($spacer-y * 6) ),
  7: (x: ($spacer-x * 7), y: ($spacer-y * 7) ),
  8: (x: ($spacer-x * 8), y: ($spacer-y * 8) ),
  9: (x: ($spacer-x * 9), y: ($spacer-y * 9) ),
  10: (x: ($spacer-x * 10), y: ($spacer-y * 10) ),
  11: (x: ($spacer-x * 11), y: ($spacer-y * 11) ),
  12: (x: ($spacer-x * 12), y: ($spacer-y * 12) )
  );

/* Variables from template
–––––––––––––––––––––––––––––––––––––––––––––––––– */

{% if site.data.theme.atmosphere == "webdesign" %}
  $headings-font-family:     "Lato", sans-serif;
  $font-family-base:         "Lato", sans-serif;
  $small-font-size:          80%;
  $brand-primary:            #03A9F4;
  $font-size-base:           1.2rem;
  $lead-font-size:           1.4rem;
  $font-size-h3:             1.35rem; 
  $font-size-h4:             1.2rem;
  // $headings-font-weight: 700;
{% elsif site.data.theme.atmosphere == "technology" %}
  $headings-font-family:    "Roboto Condensed", sans-serif;
  $font-family-base:        "Roboto", sans-serif;
  $small-font-size:         90%;
  $brand-primary:           #6b15a1;
  $font-size-base:          1.15rem;
  $lead-font-size:          1.3rem;
  $font-size-h3:            1.4rem; 
  $font-size-h4:            1.2rem;
{% elsif site.data.theme.atmosphere == "cartoon" %}
  $headings-font-family:    "Bangers", sans-serif;
  $font-family-base:        "Droid serif", sans-serif;
  $small-font-size:         90%;
  $brand-primary:           #03A9F4;
  $font-size-base:          1.15rem;
  $lead-font-size:          1.3rem;
  $font-size-h3:            1.4rem; 
  $font-size-h4:            1.2rem;
  {% else %} 
  //CREATE YOUR OWN THEME BELOW
  // $headings-font-family:    "Bangers", sans-serif;
  // $font-family-base:        "Droid serif", sans-serif;
  // $small-font-size:         90%;
  // $brand-primary:           #6b15a1;
  // $font-size-base:          1.15rem;
  // $lead-font-size:          1.3rem;
  // $font-rsize-h3:            1.5rem; 
  // $font-size-h4:            1.25rem;
{% endif %}


$btn-padding-x-xl:               1.75rem;
$btn-padding-y-xl:               1.25rem;
$input-padding-x-xl:             1.75rem;
$input-padding-y-xl:             1.25rem;


/* Import sass file here
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap/bootstrap";

//Import our own businness
@import "owncss/own-bootstrap-full-feature";
@import "owncss/own-utilities";
@import "owncss/own-common-typography";

//External dependencies
@import "owncss/own-animate";

//Import SCSS of sections here
@import "owncss/own-hero";
@import "owncss/own-hero2";
@import "owncss/own-separator";
@import "owncss/own-navbar";
@import "owncss/own-what";
@import "owncss/own-howtouse";
@import "owncss/own-demo";
@import "owncss/own-faq";
@import "owncss/own-footer";
@import "owncss/own-sections";








/* Override properties here
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// responsive typography
html {
  font-size: 14px;
  font-weight: 300;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

// // bigger buttons
.btn-xl {
  @include button-size($btn-padding-y-xl, $btn-padding-x-xl, $font-size-lg, $btn-border-radius-lg);
}

// bigger form
.form-control-xl {
  padding: $input-padding-y-xl $input-padding-x-xl;
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  @include border-radius($input-border-radius-lg);
}

.adaptable-container {
  @extend .container;
  width: 70%;
  @include media-breakpoint-down(sm) {
    width: 80%;
  }
}

