.faq {
    @include media-breakpoint-up(lg) {
        .card-columns {
            column-count: 3;
            column-gap: $card-columns-sm-up-column-gap;
            .card {
                display: inline-block;
                width: 100%; // Don't let them exceed the column width
            }
        }
    }
}
