.feature4 {
  embed {
    width: 100%;
    height: auto;
  }
}

.feature4__text-left {
  @extend .col-md-7;
  align-self:center;
}

.feature4__img-right {
  @extend .col-md-5;
  width:100%;
}

.feature4__img-left {
  @extend .col-md-5;
  @extend .pull-md-7;
  width:100%;
}

.feature4__text-right {
  @extend .col-md-7;
  @extend .push-md-5;
  align-self:center;
}
