

.footer1 {
  background: $gray-lightest;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
  .full {
    width: 100%;
  }

  .gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
  }
  p {
    margin: 0;
  }
  img {
    max-width: 100%;
  }
  .lead {
    border-bottom: 1px solid $gray;
    color: $gray;
    line-height: 2rem;
    padding: 1rem 0 1rem;
  }
  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
  }
  ul li a {
    padding: 0 0 5px 0;
    display: block;
  }
  a {
    color: $gray-light;
  }
  .social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
  }
  .social li:hover {
    transform: scale(1.15) rotate(360deg);
  }
  .social li a {
    color: #EDEFF1;
  }
  .social li:hover {
    border: 2px solid darken($brand-primary, 0%);
    background: darken($brand-primary, 0%);
  }
  .social li a i {
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
  }
}
