.hero2 {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="1444px" height="655px" viewBox="0 0 1444 655" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><radialGradient cx="0%" cy="0%" fx="0%" fy="0%" r="143.544416%" id="radialGradient-1"><stop stop-color="#3023AE" offset="0%"></stop><stop stop-color="#C96DD8" stop-opacity="0.379698822" offset="100%"></stop></radialGradient></defs><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="wave2" transform="translate(2.000000, 1.000000)"><g id="Page-1"><g id="WINNER"><g id="header"><g id="backgroun"><g id="graph"><g id="Group"><path d="M0,583 C0,583 96.7695313,469.421875 184.878906,473.9375 C272.988281,478.453125 335.605469,545.191402 401.21875,545.191406 C466.832031,545.191411 537.488281,431.839843 612.132812,431.839844 C686.777344,431.839844 763.753906,535.441406 819.679687,516.117188 C875.605469,496.792969 964.378906,370.460938 986.769531,327.941406 C1009.16016,285.421875 1110.4375,160.890625 1239.97266,133.140625 C1369.50781,105.390625 1422.32812,49.4238283 1440,5.68434189e-14 L1440,654.000003 L0,654 L0,583 L0,583 Z" id="Path-539" fill-opacity="0.15" fill="url(#radialGradient-1)"></path><path d="M0,583 C0,583 96.7695313,469.421875 184.878906,473.9375 C272.988281,478.453125 335.605469,545.191402 401.21875,545.191406 C466.832031,545.191411 537.488281,431.839843 612.132812,431.839844 C686.777344,431.839844 763.753906,535.441406 819.679688,516.117188 C875.605469,496.792969 964.378906,370.460938 986.769531,327.941406 C1009.16016,285.421875 1110.4375,160.890625 1239.97266,133.140625 C1369.50781,105.390625 1422.32812,50.0332031 1440,0" id="Path-539" stroke="#6B15A1" stroke-width="3"></path><g id="graph-dots" transform="translate(165.000000, 118.000000)" stroke="#6B15A1" stroke-width="2" fill="#FFFFFF"><circle id="Oval-60" cx="8" cy="357" r="8"></circle><circle id="Oval-60" cx="237" cy="428" r="8"></circle><circle id="Oval-60" cx="440" cy="315" r="8"></circle><circle id="Oval-60" cx="639" cy="403" r="8"></circle><circle id="Oval-60" cx="831" cy="193" r="8"></circle><circle id="Oval-60" cx="1110" cy="8" r="8"></circle></g></g></g></g></g></g></g></g></g></svg>');
    background-position-x: initial;
    background-position-y: bottom;
    background-size: 100%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.hero2-button {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xl;
  @extend .btn-block;
  @include media-breakpoint-up(md) {
    margin-left: 0.3rem;
  } 
  @include media-breakpoint-down(sm) {
    margin-top: 0.3rem;
  }
  max-width: 15rem;
}

.hero2-main-heading {
    font-size: $font-size-h1 * 1.2;
}
.hero2-sub-heading {
    font-size: $lead-font-size * 1.2;
}