.hero1__cta-container {
  display:flex;
  justify-content: center;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  } 
}

.hero1__title-text {
  @extend .display-4;
  font-weight: bold;
}

.hero1-text {
  @extend .lead; 
  font-weight: 300;
  font-size: $lead-font-size;
  text-transform: uppercase;
  letter-spacing: 0.17rem;
}

.hero1-cta {
  @include media-breakpoint-down(sm) {
    max-width: 15rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero1-input {
  @extend .form-control;
  @extend .form-control-xl;
}

.hero1-button {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xl;
  @extend .btn-block;
  font-size: $lead-font-size;
}
