$navbar1-height:4rem;
.navbar1 {
  height: $navbar1-height;
  z-index: 99;
  background-color: $body-bg;
  a {
    color: $body-color;
  }
}

.navbar1__btn {
  @extend .btn;
  @extend .btn-outline-primary;
  @extend .btn-sm;
}

.has-docked-nav .navbar1__btn {
  @extend .btn-primary;
}

body.has-docked-nav {
  padding-top: $navbar1-height;
}

.navbar1__bar {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}


.has-docked-nav .navbar1 {
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  border-bottom: 1px solid #D6D6D8;
}