
<section id='feature1'>
  <div class="adaptable-container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 offset-sm-2">
        <div class="separator p-t-6"></div>
        <h2 class=" big-title text-xs-center">Big-title</h2>
        <div class="separator p-t-1"></div>
        <p class="big-text text-xs-center">Big-text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi corrupti quidem, cumque. Nesciunt, iste magnam explicabo a ea laudantium, magni at itaque labore quo maxime, illum officia culpa quidem et.</p>
        <div class='text-xs-center'>
          <div class="separator p-t-1"></div>
          <button class="btn btn-outline-primary">secondary call to action</button>
        </div>
        <div class='separator m-t-6 hidden-sm-down'>&nbsp;</div>
        <div class='separator m-t-4 hidden-md-up'>&nbsp;</div>
      </div><!-- ./col -->
    </div><!-- ./row -->
  </div><!-- ./container -->
</section>
