
<section class="feature4" id='feature4'>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 offset-sm-2">
        <div class="separator p-t-6"></div>
        <h2 class="big-title text-xs-center">feature4</h2>
        <div class="separator p-t-1"></div>
        <p class="  text-xs-center lead">The page you are currently reading was built with the tool. I built other examples so that you see the  </p>
        <div class="separator m-t-3"></div>
      </div><!-- ./col -->
    </div><!-- ./row -->
    <div class="row">
      <div class="feature4__text-left">
        <h3>This website. <span class="text-muted">Refactored.</span></h3>

        <div class='separator' style="margin-top:0.5rem"></div>
        <p class=" ">This website is built with the tool. But what if we change primary color and font ? We obtain quickly a whole new different impression, even if content and layout are the same. Simple.</p>
        <button class="btn  btn-outline-primary">View the new design</button>
      </div>
      <div class="feature4__img-right">
        <div class='feature1__sub-image' >
          <object>
            <embed src="http://res.cloudinary.com/bdavidxyz-com/image/upload/q_10/v1470057312/preview_lgbe8d.png" style="width: 100%; height: auto;" />
          </object>
        </div>
      </div>
    </div>
  </div>    


  <div class='separator m-t-4 hidden-lg-up'></div>
  <div class='separator m-t-3 hidden-md-down'></div>


  <div class="container">
    <div class="row">
      <div class="feature4__text-right">
        <h3>Quickstarter 1. <span class="text-muted"> Where you can start from.</span></h3>
        <div class='separator' style="margin-top:0.5rem"></div>
        <p class=" ">The tool include quickstarter templates. If you don't feel ready with empty template, if you need to try by practice, then quickstarter are here for you.</p>
        <button class="btn  btn-outline-primary">View the quick starter</button>
      </div>
      <div class="feature4__img-left">
        <div class='feature1__sub-image' >
          <object>
            <embed src="http://res.cloudinary.com/bdavidxyz-com/image/upload/q_10/v1470057312/preview_lgbe8d.png" style="width: 100%; height: auto;" />
          </object>
        </div>
      </div>
    </div>
  </div>

  <div class='separator m-t-8'></div>

</section>
