
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer class="footer1" id="footer1">
    <div>
    <div class='separator m-t-0'>&nbsp;</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <p class=' lead'><strong> Lorem Ipsum</strong> </p>
                    <ul>
                        <li> <a href="#"><small> Lorem Ipsum</small> </a> </li>
                        <li> <a href="#"><small> Lorem Ipsum</small> </a> </li>
                        <li> <a href="#"><small> Lorem Ipsum</small> </a> </li>
                        <li> <a href="#"><small> Lorem Ipsum</small> </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <p class=' lead'><strong> Lorem Ipsum</strong> </p>
                    <ul>
                        <li> <a href="#"><small> Lorem Ipsum</small> </a> </li>
                        <li> <a href="#"><small> Lorem Ipsum</small> </a> </li>
                        <li> <a href="#"><small> Lorem Ipsum</small> </a> </li>
                        <li> <a href="#"><small> Lorem Ipsum</small> </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <p class=' lead'><strong> Lorem Ipsum</strong> </p>
                    <ul>
                        <li> <a href="#"><small> Lorem Ipsum</small> </a> </li>
                        <li> <a href="#"><small> Lorem Ipsum</small> </a> </li>
                        <li> <a href="#"><small> Lorem Ipsum</small> </a> </li>
                        <li> <a href="#"><small> Lorem Ipsum</small> </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <p class=' lead'><strong> Lorem Ipsum</strong> </p>
                    <ul>
                        <li> <a href="#"><small> Lorem Ipsum</small> </a> </li>
                        <li> <a href="#"><small> Lorem Ipsum</small> </a> </li>
                        <li> <a href="#"><small> Lorem Ipsum</small> </a> </li>
                        <li> <a href="#"><small> Lorem Ipsum</small> </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div><!--/.row--> 
        </div><!--/.container--> 
    </div><!--/.footer-->
    

</footer>