
<section class='hero2'>
  <div class="container">
    <div class="row">
      <div class="">

        <h1 class='hero-title'>
          <div class="separator m-t-4 hidden-md-up">&nbsp;</div>
          <div class="separator m-t-12 hidden-sm-down">&nbsp;</div>
          <div class='hero2-main-heading'>
            Main heading title, nice
          </div>
        </h1>
        
        <div class="hero2-sub-heading">
          AND A SUBTLE SUBTITLE, JUST ENOUGH TO CONVERT
        </div>
        
        <div class="separator p-t-1"></div>
        
        <div class="">
          <button type="submit" class="hero2-button">Call to action</button>
        </div>
        <div class="separator m-t-6 hidden-md-up">&nbsp;</div>
        <div class="separator m-t-4 hidden-sm-down">&nbsp;</div>
        <div class="separator m-t-12 hidden-sm-down">&nbsp;</div>
      </div><!-- ./col -->
    </div><!-- ./row -->
  </div><!-- ./container -->
</section>
