
<nav class='navbar1'>
  <div class='container h-100'> 
    <div class="navbar1__bar">  
      <div>
        <a href="#hero">&uarr; top</a>
      </div>
      <div class='hidden-xs-down'>
        <a href="#what">what</a>
      </div>
      <div class='hidden-xs-down'>
        <a href="#how">how</a>
      </div>
      <div class='hidden-xs-down'>
        <a href="#love"><small>♥♥♥</small></a>
      </div>
      <div class='hidden-xs-down'>
        <a href="#demo">demo</a>
      </div>
      <div class='hidden-xs-down'>
        <a href="#faq">faq</a>
      </div>
      <div>
        <button class="navbar1__btn"> Github </button>
      </div>
      <div class='hidden-sm-up'>
        <div>&nbsp;</div>
      </div>
    </div>
  </div>
</nav>

