
<div class='pricingtable1' id="pricingtable1">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 offset-sm-2">
        <div class="separator p-t-6"></div>
        <h2 class=" big-title text-xs-center"> big-title</h2>
        <div class="separator p-t-1"></div>
        <p class="big-text text-xs-center">Big-text. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <div class="separator m-t-4"></div>
      </div><!-- ./col -->
    </div><!-- ./row -->
    <div class="pricingtable1__deck">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title big-title">Plan A</h3>
          <small class="card-text">Just free</small>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Something else</li>
          <li class="list-group-item">And a last one</li>
        </ul>
        <div class="card-block">
          <button class="btn btn-primary btn-sm "> Choose Plan A </button>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h3 class="card-title big-title">Plan B</h3>
          <small class="card-text">Free 1-month trial</small>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Something else</li>
          <li class="list-group-item">And a last one</li>
        </ul>
        <div class="card-block">
          <button class="btn btn-primary btn-sm "> Choose Plan B </button>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h3 class="card-title big-title">Plan C</h3>
          <small class="card-text">Limited membership</small>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Something else</li>
          <li class="list-group-item">And a last one</li>
        </ul>
        <div class="card-block">
          <button class="btn btn-primary btn-sm "> Choose Plan C </button>
        </div>
      </div>
    </div>
  </div>
  
  <div class='separator m-t-6 hidden-sm-down'>&nbsp;</div>
  <div class='separator m-t-3 hidden-md-up'>&nbsp;</div>

</div>