
<section class="demo" id='demo'>
  <div class="adaptable-container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 offset-sm-2">
        <div class="separator p-t-6"></div>
        <h2 class="big-title text-xs-center">Demo</h2>
        <div class="separator p-t-1"></div>
        <p class="  text-xs-center lead">The page you are currently reading was built with the tool. See other examples below.</p>
        <div class="separator m-t-3"></div>
      </div><!-- ./col -->
    </div><!-- ./row -->
    <div class="row">
      <div class="demo__text-left">
        <h3>An old friend. <span class="text-muted"> But different.</span></h3>
        <div class='separator' style="margin-top:0.5rem"></div>
        <p class=" ">This website is built with the tool. But what if we change primary color and font ? We obtain quickly a whole new different impression, even if content and layout are the same. Simple.</p>
        <a class="btn  btn-outline-primary" href="https://github.com/bdavidxyz/zee-other-theme/">View the new design</a>
      </div>
      <div class="demo__img-right">
        <div class='feature1__sub-image' >
          <object>
            <embed src="image/zeeother.png" style="width: 100%; height: auto;" />
          </object>
        </div>
      </div>
    </div>
  </div>    


  <div class='separator m-t-4 hidden-lg-up'></div>
  <div class='separator m-t-3 hidden-md-down'></div>


  <div class="adaptable-container">
    <div class="row">

      <div class="demo__text-right">
        <h3>Your next landing page. <span class="text-muted"> Will appear here.</span></h3>
        <div class='separator' style="margin-top:0.5rem"></div>
        <p class=" " style="margin-bottom:0">If you build a landing page with this tool, it can be displayed here in the demo section. Send a request and a small description will appear here. The first visual, named hero section, will be shown as well.</p>
      </div>


      <div class="demo__img-left">
        <div class='feature1__sub-image' >
          <object>
            <embed src="image/preview.png" style="width: 100%; height: auto;" />
          </object>
        </div>
      </div>
    </div>
  </div>

 
  </div> 


  <div class='separator m-t-8'></div>

</section>
