
<nav class='navbar'>
  <div class='adaptable-container h-100'> 
    <div class="navbar__bar">  
      <div>
        <a href="#hero">&uarr; top</a>
      </div>
      <div class='hidden-xs-down'>
        <a href="#what">what</a>
      </div>
      <div class='hidden-xs-down'>
        <a href="#how">how</a>
      </div>
      <div class='hidden-xs-down'>
        <a href="#love"><small>♥♥♥</small></a>
      </div>
      <div class='hidden-xs-down'>
        <a href="#demo">demo</a>
      </div>
      <div class='hidden-xs-down'>
        <a href="#faq">faq</a>
      </div>
      <div>
        <button class="navbar__btn" onclick="window.location='https://github.com/bdavidxyz/zee'"> Github </button>
      </div>
      <div class='hidden-sm-up'>
        <div>&nbsp;</div>
      </div>
    </div>
  </div>
</nav>

