
<section id='help'>
  <div class="adaptable-container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 offset-sm-2">
        <div class="separator p-t-6"></div>
        <h2 class=" big-title text-xs-center">Help the project</h2>
        <div class="separator p-t-1"></div>
        <p class="  text-xs-center lead">If you can't or don't want to contribute to the project, but you like the idea, you can click on the star button  </p>
        <div class='text-xs-center'>
          <div class="separator p-t-1"></div>
          <a class="btn btn-outline-primary" href="https://github.com/bdavidxyz/zee">Star it on Github</a>
        </div>
        <div class='separator m-t-6 hidden-sm-down'>&nbsp;</div>
        <div class='separator m-t-4 hidden-md-up'>&nbsp;</div>
      </div><!-- ./col -->
    </div><!-- ./row -->
  </div><!-- ./container -->
</section>
