<section class='feature1 howtouse' id='how'>
  <div class='adaptable-container'>
        <div class="separator p-t-6"></div>
    <div class='row'>
      <div class='col-xs-12 col-sm-8 offset-sm-2'>
        <h2 class=' big-title text-xs-center'>How to use it</h2>
        <div class='separator p-t-1'></div>
        <div class='text-xs-center lead'>Easier is impossible. Copy-paste-modify and you're done.</div>
        <div class="separator m-t-3"></div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-4 offset-sm-2'>
        <h3>1. Copy-paste sections</h3>
        <embed src="image/copypaste1.svg"/>
      </div>
    </div>
    <div class="row">
      <div class='col-sm-4 offset-sm-4'>
        <div class='separator p-t-2'></div>
        <h3>2. Modify text and images</h3>
        <embed src="image/copypaste2.svg"/>
      </div>
    </div>
    <div class="row">
      <div class='col-sm-4 offset-sm-6'>
        <div class='separator p-t-2'></div>
        <h3>3. Customize font and color</h3>
        <embed src="image/copypaste3.svg"/>
      </div>
    </div>
    <div class='separator m-t-8'></div>
  </div>
</section>
