<section class='what' id='what'>
  <div class='adaptable-container'>
    <div class='separator p-t-6'></div>
    <div class='row'>
      <div class='col-xs-12 col-sm-8 offset-sm-2'>
        <h2 class=' big-title text-xs-center'>What it is</h2>
        <div class='separator p-t-1'></div>
        <div class='  text-xs-center lead'>A bunch of intercompatible sections you can pick, assemble and customize to create your own web landing page</div>
        <div class="separator m-t-3"></div>
      </div><!-- ./col -->
    </div><!-- ./row -->
    <div class='row'>
      <div class='col-xl-4 text-xs-center what__sub'>
          <img data-src="image/feature1.svg"  class='what__sub-image lazyload'/>
        <h3>Hero sections</h3>
        <!-- <p class='what__sub-text  '> . Argument should suffice to convince your audience.</p> -->
      </div><!-- /.col-lg-4 -->
      <div class='col-xl-4 text-xs-center what__sub'>
        <div class='separator p-t-1 hidden-lg-up'>&nbsp;</div>
          <img data-src="image/feature2.svg"  class='what__sub-image lazyload'/>
        <h3>Explanation sections</h3>
        <!-- <p class='what__sub-text  '> . Here : keep it small, but straight to the point.</p> -->
      </div><!-- /.col-lg-4 -->
      <div class='col-xl-4 text-xs-center what__sub'>
        <div class='separator p-t-1 hidden-lg-up'>&nbsp;</div>
          <img data-src="image/feature3.svg"  class='what__sub-image lazyload'/>
        <h3>Pricing tables</h3>
        <!-- <p class='what__sub-text  '> . 3 arguments are always better, it works !</p> -->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


      <div class='separator p-t-2'></div>
    <div class='row'>
      <div class='col-lg-4 text-xs-center what__sub'>
      </div><!-- /.col-lg-4 -->
      <div class='col-lg-4 text-xs-center what__sub'>
        <div>
          <svg width="10px" height="10px" viewBox="629 743 10 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="circle" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(629.000000, 743.000000)">
              <g id="Layer_1" fill="#000000">
                <circle id="Oval" cx="5" cy="5" r="5"></circle>
              </g>
            </g>
          </svg>
        </div>
        <div>
          <svg width="10px" height="10px" viewBox="629 743 10 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="circle" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(629.000000, 743.000000)">
              <g id="Layer_1" fill="#000000">
                <circle id="Oval" cx="5" cy="5" r="5"></circle>
              </g>
            </g>
          </svg>
        </div>
        <div>
          <svg width="10px" height="10px" viewBox="629 743 10 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="circle" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(629.000000, 743.000000)">
              <g id="Layer_1" fill="#000000">
                <circle id="Oval" cx="5" cy="5" r="5"></circle>
              </g>
            </g>
          </svg>
        </div>
      </div><!-- /.col-lg-4 -->
      <div class='col-lg-4 text-xs-center what__sub'>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <div class='separator p-t-2'></div>
    <div class='row'>
      <div class='col-xs-12 col-sm-8 offset-sm-2 text-xs-center'>
        <a class='btn btn-outline-primary' href="{{site.baseurl}}/sections-doc/">And many more other sections</a>
      </div><!-- ./col -->
    </div><!-- ./row -->
  </div><!-- /.container -->
  <div class='separator m-t-9'></div>
</section>
